.container {
    width: 100%;
    padding: 60px 0;
}

.container > .row {
    --w-row: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px 0;
    width: var(--w-row);
    margin: 0 calc(50% - var(--w-row) / 2);
}

.container > .short-row {
    --w-short: 600px;
    width: var(--w-short);
    margin: 0 calc(50% - var(--w-short) / 2);
}

.container > .row > .column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.container > .row > .right {
    width: 40%;
}

@media (max-width: 1100px) {
    .container > .row {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}

@media (max-width: 900px) {
    .container > .row {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}

@media (max-width: 700px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container > .row,
    .container > .short-row {
        width: 100%;
        margin-left: 0;
    }
    .container > .row > .column {
        width: 100%;
    }
}