section:first-child {
    padding: 10px;
    background-color: antiquewhite;
}
section {
    padding: 10px;
    background-color: aquamarine;
}
.left {
    width: calc(50% - 5px);
    background-color: burlywood;
    display: inline-block;

}
.center {
    width:  calc(50% - 5px);
    background-color: coral;
    display: inline-block;
}
.right {
    width:  calc(50% - 5px);
    background-color: coral;
    display: inline-block;
}
footer {
    padding: 20px 10px;
    background-color:brown;
}