::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
form > .cell-1 {
    grid-column: span 1;
}
form > .cell-2 {
    grid-column: span 2;
}
form > div > input,
form > div > textarea {
    width: 100%;
    padding: 0.5em 0.1em;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
}
form > div > textarea {
    min-height: 2.8em;
    max-height: 10em;
    resize: vertical;
}
@media (max-width: 1000px) {
    form {
        grid-template-columns: 1fr;
    }
}