.progress-bar-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.progress-bar-list > .progress-bar {
    display: flex;
    flex-direction: column;
    gap: 5px;    
}
.progress-bar-list > .progress-bar > .top {
    display: flex;
    justify-content: space-between;
}
.progress-bar-list > .progress-bar > .top  {
    color: rgb(105, 105, 105);
}
.progress-bar-list > .progress-bar > .progress {
    height: 6px;
    background-color: #ccc;   
}
.bar {
    height: 100%;
    background-color: var(--main-color);
}