.container > .hero {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.logo {
    height: 30px;
}
.main-title {
    font-size: 60px;
    text-transform: uppercase;
}
.main-description {
    font-size: 22px;
}
.clock {
    width: 80%;
    background-color: bisque;
}