.container > .hero {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.logo {
    height: 30px;
}
.main-title {
    font-size: 75px;
    text-transform: uppercase;
}
.main-description {
    font-size: 22px;
}
.clock {
    width: 80%;
    background-color: bisque;
}
.section-title {
    font-size: 18px;
    text-transform: uppercase;
}
.section-description {
    font-size: 16px;
}
.section-description > a {
    color: red;
}



@media (max-width: 700px) {
    .main-title {
        font-size: 50px;
    }
}